<!DOCTYPE html>
<html>
  <head>
    <title>NDI Admin</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  </head>
  <body>
    <div class="sidenav">
        <div class="login-main-text">
           <h2>Create Schema and<br>Credential Definition</h2>
           <p>Once Issuer keys are created and registered on the ledger, create a schema and credential definition which will be used to issue credentials.</p>
           <a href="/" class="btn btn-info" role="button">Home Page</a>
         </div>
     </div>
     <div class="main">
        <div class="col-md-6 col-sm-12">
           <div class="login-form">
              <form action = "/create_creddef" method = "GET">
                 <div class="form-group">
                    <p><b>Create Credential Defintion</b></p>
                 </div>
                 <div class="form-group">
                    <!-- <p><b>Schema ID :</b> <%= schemaId %></label></p> -->
                    <label for="schemaid">Schema ID :</label>
                    <input type="text" class="form-control" value="<%= schemaId %>" id="schemaid" name="schemaid" required>
                 </div>
                 <div class="form-group">
                    <label for="credname">Credential Name</label>
                    <input type="text" class="form-control" id="credname" name="credname" required placeholder="Credential Name">
                 </div>
                 <!-- <div class="form-group form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox"> Revocation
                  </label>
                </div> -->
                <div class="form-group">
                  <p>Will this credential be required to revoke later?</p>
                  <input type="radio" id="yes" name="revokestatus" value="true">
                  <label for="yes">Yes</label><br>
                  <input type="radio" id="no" checked name="revokestatus" value="false">
                  <label for="no">No</label><br>
                </div>
                 <button type="submit" class="btn btn-black">Create</button>
              </form>
           </div>
        </div>
     </div>
  </body>
</html>
