<!DOCTYPE html>
<html>
  <head>
    <title>NDI Admin</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  </head>
  <body>
    <div class="sidenav">
        <div class="login-main-text">
           <h2>Create Schema and<br>Credential Definition</h2>
           <p>Once Issuer keys are created and registered on the ledger, create a schema and credential definition which will be used to issue credentials.</p>
           <a href="/" class="btn btn-info" role="button">Home Page</a>
         </div>
     </div>
     <div class="main">
        <div class="col-md-6 col-sm-12">
           <div class="login-form">
              <form action = "/create_schema" method = "GET">
                 <div class="form-group">
                    <p><b>Create New Schema</b></p>
                 </div>
                 <div class="form-group">
                    <label for="schemaName">Schema Name</label>
                    <input type="text" id="schemaName" name="schemaName" class="form-control" required placeholder="Schema Name">
                 </div>
                 <div class="form-group">
                    <label for="attrname">Attribute Names (separate using comma ',')</label>
                    <input type="text" class="form-control" id="attrname" name="attrname" required placeholder="Separate using comma (name, age, gender)">
                 </div>
                 <!-- <div class="form-group form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox"> Revocation
                  </label>
                </div> -->
                <!-- <div class="form-group">
                  <p>Will this credential be required to revoke later?</p>
                  <input type="radio" id="yes" name="revokestatus" value="true">
                  <label for="yes">Yes</label><br>
                  <input type="radio" id="no" checked name="revokestatus" value="false">
                  <label for="no">No</label><br>
                </div> -->
                 <button type="submit" class="btn btn-black">Create</button>
                 <!-- <button type="submit" class="btn btn-secondary">Register</button> -->
                 <!-- <p><br>*Form to create credential definition after creating schema with attributes and its parameters</p> -->
              </form>

              <form action = "/createcreddef" method = "GET">
               <br><hr>
               <div class="form-group">
                  <p><b>OR</b></p>
               </div>
               <!-- <div class="form-group">
                  <label for="schemaId">Existing Schema ID</label>
                  <input type="text" id="schemaId" name="schemaId" class="form-control" required placeholder="Existing Schema ID">
               </div> -->
               <button type="submit" class="btn btn-black">Use Existing Schema</button>
               <!-- <button type="submit" class="btn btn-secondary">Register</button> -->
               <!-- <p><br>*Form to create credential definition after creating schema with attributes and its parameters</p> -->
            </form>
           </div>
        </div>
     </div>
  </body>
</html>
