<!DOCTYPE html>
<html>
  <head>
    <title>NDI Admin</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  </head>
  <body>
    <div class="sidenav">
        <div class="login-main-text">
           <h2>Create Relationship</h2>
           <p>Before we can issue a credential, we first need to create a connection with the Holder.</p>
           <a href="/" class="btn btn-info" role="button">Home Page</a>
         </div>
     </div>
     <div class="main">
        <div class="col-md-6 col-sm-12">
           <div class="login-form">
              <form action = "/create_relationdid" method = "GET">
                 <div class="form-group">
                    <label for="domaindid"><b>Domain DID:</b> <%= domaindid%></label>
                 </div>
                 <button type="submit" class="btn btn-black">Create Relationship DID</button>
              </form>
              <!-- <img width="80%" height="80%" src="/images/qrcode.png" alt="Relation QR Code"> -->
           </div>
        </div>
     </div>
  </body>
</html>
