<!DOCTYPE html>
<html>
  <head>
    <title>NDI Admin</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  </head>
  <body>
    <div class="sidenav">
        <div class="login-main-text">
           <h2>Issue Credential</h2>
           <p>Issue a credential to the connection established in the previous step.</p>
           <a href="/" class="btn btn-info" role="button">Home Page</a>
         </div>
     </div>
     <div class="main">
        <div class="col-md-12 col-sm-12">
           <!-- <div class="login-form"> -->
            <br><br><br><br>
              <form action = "/issue_credential" method = "GET">
                 <div class="form-group">
                    <label for="credentialData"><b>Credential Data</b> <br>(Follow the key value pair format with comma separated inside curly braces {})<br><i>Format: {"attributeName" : "value", "attributeName2" : "value2"<br>Eg: name: 'Sonam Tashi', "Age" : "20"}</i><br><b>Note: </b>Attribute name should be as per the defined schema.</label>
                    <input type="text" id="credentialData" name="credentialData" class="form-control" required placeholder="Credential Data">
                 </div>
                 <div class="form-group">
                     <label for="creddefid"><b>CredDef ID :</b></label>
                     <input type="text" class="form-control" id="creddefid" name="creddefid" required placeholder="CredDef ID">
                  </div>
                  <div class="form-group">
                     <label for="relationshipdid"><b>Relationship DID :</b></label>
                     <input type="text" class="form-control" id="relationshipdid" name="relationshipdid" required placeholder="Relationship DID">
                  </div>
                  <div class="form-group">
                     <label for="remark"><b>Remark (optional):</b></label>
                     <input type="text" class="form-control" id="remark" name="remark" placeholder="Comments for the credential (Optional)">
                  </div>
                 <button type="submit" class="btn btn-black">Submit</button>
                 <!-- <button type="submit" class="btn btn-secondary">Register</button> -->
              </form>
           <!-- </div> -->
        </div>
     </div>
  </body>
</html>
