<!DOCTYPE html>
<html>
  <head>
    <title>NDI Admin</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  </head>
  <body>
   <div class="container">
      <div class="row text-center">
           <div class="col-sm-12 col-sm-offset-3">
           <br><br> <h2 style="color:#f81818">Sorry!</h2>
           
           <div class="swal2-icon swal2-error swal2-animate-error-icon" style="display: flex;">
            <span class="swal2-x-mark">
              <span class="swal2-x-mark-line-left"></span>
              <span class="swal2-x-mark-line-right"></span>
            </span>
            </div>

           <p style="font-size:20px;color:#5C5C5C;"><%= message %></p>
           <a href="/" class="btn btn-success"> Home Page </a>
            <br><br>
           </div>
           
      </div>
   </div>
  </body>
</html>
