<!DOCTYPE html>
<html>
  <head>
    <title>NDI Admin</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

  </head>
  <body>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <div class="container">
        <ul class="nav nav-tabs nav-justified" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#home">ISSUER SETUP</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#menu1">VERIFIER SETUP</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#menu2">Menu 2</a>
            </li> -->
          </ul>
        
          <!-- Tab panes -->
          <div class="tab-content">
            <div id="home" class="container tab-pane active"><br>
                <section class="our-blog p-0 m-0 bg-silver">
                    <div class="container work-process  pb-5 pt-5">
                        <div class="title mb-5 text-center">
                        <h3>Issuer Setup Process</h3>
                    </div>
                        <!-- ============ step 1 =========== -->
                        <div class="row">
                            <div class="col-md-5" onclick="location.href='/updatewebhook';" style="cursor: pointer;">
                                <div class="process-box process-left" data-aos="fade-right" data-aos-duration="1000">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="process-step">
                                                <p class="m-0 p-0">Step</p>
                                                <h2 class="m-0 p-0">01</h2>
                                            </div>
                                        </div>
                                        <div class="col-md-7">
                                            <h5>Update Webhook Endpoint</h5>
                                            <p><small>Specify public URL to receive asynchronous responses from VAS.</small></p>
                                        </div>
                                    </div>
                                    <div class="process-line-l"></div>
                                </div>
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-md-5">
                                <div class="process-point-right"></div>
                            </div>
                        </div>
                        <!-- ============ step 2 =========== -->
                        <div class="row">
                            <div class="col-md-5">
                                <div class="process-point-left"></div>
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-md-5" onclick="location.href='/updateconfig';" style="cursor: pointer;">
                                <div class="process-box process-right" data-aos="fade-left" data-aos-duration="1000">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="process-step">
                                                <p class="m-0 p-0">Step</p>
                                                <h2 class="m-0 p-0">02</h2>
                                            </div>
                                        </div>
                                        <div class="col-md-7">
                                            <h5>Update Configuration</h5>
                                            <p><small>Set issuer name and its logo. </small></p>
                                        </div>
                                    </div>
                                    <div class="process-line-r"></div>
                                </div>
                            </div>
                        </div>
                        <!-- ============ step 3 =========== -->
                        <div class="row">
                            <div class="col-md-5" onclick="location.href='/setupissuer';" style="cursor: pointer;">
                                <div class="process-box process-left" data-aos="fade-right" data-aos-duration="1000">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="process-step">
                                                <p class="m-0 p-0">Step</p>
                                                <h2 class="m-0 p-0">03</h2>
                                            </div>
                                        </div>
                                        <div class="col-md-7">
                                            <h5>Setup Issuer</h5>
                                            <p><small>Setup Issuer to get verkey and issuerDID</small></p>
                                        </div>
                                    </div>
                                    <div class="process-line-l"></div>
                                </div>
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-md-5">
                                <div class="process-point-right"></div>
                            </div>
                        </div>
                        <!-- ============ step 4 =========== -->
                        <div class="row">
                            <div class="col-md-5">
                                <!-- <div class="process-point-left"></div> -->
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-md-5" onclick="location.href='/createschema';" style="cursor: pointer;">
                                <div class="process-box process-right" data-aos="fade-left" data-aos-duration="1000">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="process-step">
                                                <p class="m-0 p-0">Step</p>
                                                <h2 class="m-0 p-0">04</h2>
                                            </div>
                                        </div>
                                        <div class="col-md-7">
                                            <h5>Create Schema and CredDef</h5>
                                            <p><small>Create a schema and credential definition which will be used to issue credentials.</small></p>
                                        </div>
                                    </div>
                                    <div class="process-line-r"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div id="menu1" class="container tab-pane fade"><br>
                <section class="our-blog p-0 m-0 bg-silver">
                    <div class="container work-process  pb-5 pt-5">
                        <div class="title mb-5 text-center">
                        <h3>Verifier Setup Process</h3>
                    </div>
                        <!-- ============ step 1 =========== -->
                        <div class="row">
                            <div class="col-md-5" onclick="location.href='/updatewebhook-verifier';" style="cursor: pointer;">
                                <div class="process-box process-left" data-aos="fade-right" data-aos-duration="1000">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="process-step">
                                                <p class="m-0 p-0">Step</p>
                                                <h2 class="m-0 p-0">01</h2>
                                            </div>
                                        </div>
                                        <div class="col-md-7">
                                            <h5>Update Webhook Endpoint</h5>
                                            <p><small>Specify public URL to receive asynchronous responses from VAS.</small></p>
                                        </div>
                                    </div>
                                    <div class="process-line-l"></div>
                                </div>
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-md-5">
                                <div class="process-point-right"></div>
                            </div>
                        </div>
                        <!-- ============ step 2 =========== -->
                        <div class="row">
                            <div class="col-md-5">
                                <!-- <div class="process-point-left"></div> -->
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-md-5" onclick="location.href='/updateconfig-verifier';" style="cursor: pointer;">
                                <div class="process-box process-right" data-aos="fade-left" data-aos-duration="1000">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="process-step">
                                                <p class="m-0 p-0">Step</p>
                                                <h2 class="m-0 p-0">02</h2>
                                            </div>
                                        </div>
                                        <div class="col-md-7">
                                            <h5>Update Configuration</h5>
                                            <p><small>Set verifier name and its logo. </small></p>
                                        </div>
                                    </div>
                                    <div class="process-line-r"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <!-- <div id="menu2" class="container tab-pane fade"><br>

            </div> -->
          </div>
    </div>
  <script>
    AOS.init();
  </script>
  </body>
</html>
