<!DOCTYPE html>
<html>
  <head>
    <title>NDI Admin</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  </head>
  <body>
    <div class="sidenav">
        <div class="login-main-text">
           <h2>Setup Issuer</h2>
           <p>Issuer needs to have Issuer keys created in order to create schemas, credential definitions, and issue credentials.<br>
               IssuerSetup should be called only once for a certain domain DID
            </p>
           <a href="/" class="btn btn-info" role="button">Home Page</a>
         </div>
     </div>
     <div class="main">
        <div class="col-md-6 col-sm-12">
           <div class="login-form">
              <form action = "/setup_issuer" method = "GET">
                 <div class="form-group">
                    <label for="domaindid"><b>Domain DID:</b> <%= domaindid%></label>
                 </div>
                 <button type="submit" class="btn btn-black">Setup</button>
              </form>
           </div>
        </div>
     </div>
  </body>
</html>
