<!DOCTYPE html>
<html>
  <head>
    <title>NDI Admin</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  </head>
  <body>
    <div class="sidenav">
        <div class="login-main-text">
           <h2>Update<br> Configuration</h2>
           <p>Update the logoUrl and the Issuer Name. The values set here will be encoded in the invitation URL and will be shown in the ConnectMe app</p>
           <a href="/" class="btn btn-info" role="button">Home Page</a>
         </div>
     </div>
     <div class="main">
        <div class="col-md-6 col-sm-12">
           <div class="login-form">
              <form action = "/update_config" method = "GET">
                 <div class="form-group">
                    <label for="issuername">Issuer Name</label>
                    <input type="text" id="issuername" name="issuername" class="form-control" required placeholder="Issuer Name">
                 </div>
                 <div class="form-group">
                    <label for="logourl">Logo URL</label>
                    <input type="text" class="form-control" id="logourl" name="logourl" required placeholder="Paste publicly available logo url or upload">
                 </div>
                 <div class="form-group">
                  <input type="file" id="myFile" name="filename">
                 </div>
                 <button type="submit" class="btn btn-black">Update</button>
                 <input type="hidden" name="isIssuer" id="isIssuer" value="1">
                 <!-- <button type="submit" class="btn btn-secondary">Register</button> -->
              </form>
           </div>
        </div>
     </div>
  </body>
</html>
