<!DOCTYPE html>
<html>
  <head>
    <title>NDI Admin</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  </head>
  <body>
    <div class="sidenav">
        <div class="login-main-text">
           <h2>Update<br> Webhook Endpoint</h2>
           <p>The Verifier app first needs to update webhook endpoint on the Verity Application Service with the URL where it wants to receive asynchronous responses. UpdateEndpoint protocol is used for setting up the address of the endpoint.</p>
           <a href="/" class="btn btn-info" role="button">Home Page</a>
         </div>
     </div>
     <div class="main">
        <div class="col-md-6 col-sm-12">
           <div class="login-form">
              <form action = "/webhook_update" method = "GET">
                  <div class="form-group">
                     <label for="webhookurl" data-toggle="tooltip" data-placement="bottom" title="Use ngrok if the app is not hosted publicly">Webhook URL</label>
                     <input type="text" name="webhookurl" id="webhookurl" class="form-control" required placeholder="Webhook url">
                  </div>
                 <button type="submit" class="btn btn-black">Update</button>
                 <input type="hidden" name="isIssuer" id="isIssuer" value="0">
              </form>
           </div>
        </div>
     </div>
  </body>
</html>
